<nav *ngIf="menuConfig?.visible" [class.sticky]="menuConfig?.sticky" [class.transparent]="menuConfig?.transparent">
    <div *ngIf="translationService.errorMessage | async as error" class="error-message">
        {{ error }}
    </div>
    
    <div *ngIf="configError" class="error-message">
        {{ configError }}
    </div>
    
    <ul>
        <ng-container *ngFor="let item of menuConfig?.items">
            <li *ngIf="item.label.toLowerCase() === 'home'  || item.label.toLowerCase() === 'authentificate' || isAuthentificated"
                [class.disabled]="!item.enabled">
                <a *ngIf="item.enabled" [routerLink]="item.route">
                    {{ translationService.getTranslation('menu', item.label.toLowerCase()) }}
                </a>
            </li>
        </ng-container>
        <li *ngIf="isAuthentificated">
            <button (click)="onLogout()" class="btnLogout">Logout</button>
        </li>
    </ul>
    
    
    @if(sidebarConfig?.enabled && isAuthentificated)
    {
        <button class="sidebar-toggle" (click)="toggleSidebar()"> {{ translationService.getTranslation('others', 'toggle') }}</button>
    }
    <app-language-picker
    [languages]="languagePickerConfig?.languages"
    (languageSelected)="onLanguageSelected($event)">
  </app-language-picker>
</nav>