:root {
  --background-light: linear-gradient(to bottom, #ffffff, #e6e6e6);
  --background-dark: #fcfcfc;
}

#app-root {
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  margin-top: 2.3rem;
  min-height: 100vh;
  background: var(--background-light);
  font-family: 'Arial', sans-serif;
}

html[data-theme="dark"] #app-root {
  background: var(--background-dark) !important;
}

@media (max-width: 768px) {
  #app-root {
    margin-top: 15rem;
  }
}

@media (max-width: 480px) {
  #app-root {
    padding: 10px;
  }
}
