#content {
    margin-left: 250px; /* Same width as the expanded sidebar */
    transition: margin-left 0.3s;
  }
  
  .sidebar:not(.expanded) + #content {
    margin-left: 60px; /* Adjust for collapsed sidebar */
  }
  